<mat-toolbar color="primary">
    <span>Ty Colección</span>

    <span class="espacio-navbar-link"></span>
    <button routerLink="agregar" mat-button>
        <mat-icon>pets</mat-icon>
        Agregar
    </button>
    <button routerLink="listar" mat-button>
        <mat-icon>list alt</mat-icon>
        Listado
    </button>
    <span class="espacio-navbar-link"></span>

    <button (click)="logout()" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon color="accent">logout</mat-icon>
      </button>
</mat-toolbar>